package com.theseeker.indexer;

import org.springframework.stereotype.Component;

import javax.annotation.PostConstruct;

/**
 * Created by claudinei on 08/05/17.
 */
@Component
public class ConsultIndex {

    public
}
